In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [5]:
df = pd.read_csv("covid_toy.csv")

In [7]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

gender, city -> nominal categories -one hot encoding\
cough -> ordinal encoding -ordinal encoding

In [11]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [15]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    df.drop(columns=['has_covid']),
    df['has_covid'],
    test_size=0.2
)

In [19]:
x_train

    age  gender  fever   cough       city
71   75  Female  104.0  Strong      Delhi
83   17  Female  104.0    Mild    Kolkata
9    64  Female  101.0    Mild      Delhi
21   73    Male   98.0    Mild  Bangalore
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
63   10    Male  100.0    Mild  Bangalore
29   34  Female    NaN  Strong     Mumbai
6    14    Male  101.0  Strong  Bangalore
84   69  Female   98.0  Strong     Mumbai
38   49  Female  101.0    Mild      Delhi

[80 rows x 5 columns]

# without column transformers

In [28]:
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

x_test_fever = si.transform(x_test[['fever']])

x_train_fever

71    104.0
83    104.0
9     101.0
21     98.0
4     101.0
      ...
63    100.0
29      NaN
6     101.0
84     98.0
38    101.0
Name: fever, Length: 80, dtype: float64